In [24]:
#pip install pandas
#pip install numpy
#pip install scikit-learn
#pip install matplotlib
#!pip install tabulate
#!pip install Jinja2

In [25]:
# imports
import pandas as pd
import numpy as np
from tabulate import tabulate
#import Jinja2

In [26]:
# data
adult = pd.read_csv("/Users/emmafoessing/Documents/Master/MA/Code/Master-Thesis/adult.csv")
cps = pd.read_csv("/Users/emmafoessing/Documents/Master/MA/Code/Master-Thesis/cpspop.csv")

# Adult

In [27]:
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [28]:
adult.shape

(32561, 15)

In [29]:
# describtive statistics
summary_adult = adult.describe()

# Display the summary
print(summary_adult)

                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [30]:
len(adult)

32561

In [31]:
adult.replace("?", pd.NA, inplace=True)
missing_values = adult.isnull().any().any()
missing_columns = adult.isnull().any()
missing_count = adult.isnull().sum()

print(f"missing_values: {missing_values}")
print(f"missing_columns: \n {missing_columns}")
print(f"missing_count: \n {missing_count}")

missing_values: True
missing_columns:
 age               False
workclass          True
fnlwgt            False
education         False
education.num     False
marital.status    False
occupation         True
relationship      False
race              False
sex               False
capital.gain      False
capital.loss      False
hours.per.week    False
native.country     True
income            False
dtype: bool
missing_count:
 age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

The "?"s did not have an effect on the describtive statistics. These do not include missing values anyways.

In [32]:
# describtive statistics
summary_adult_with_nas = adult.describe()

# Display the summary
print(summary_adult_with_nas)
print(summary_adult)
summary_adult_with_nas == summary_adult

                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
count  True    True           True          True          True            True
mean   True    True           True          True          True            True
std    True    True           True          True          True            True
min    True    True           True          True          True            True
25%    True    True           True          True          True            True
50%    True    True           True          True          True            True
75%    True    True           True          True          True            True
max    True    True           True          True          True            True

In [33]:
# delete missings
adult_cleaned = adult.dropna()

# Number of observations and loss of observations due to deletion of missings
print(f"Lenght of dataframe without missing values: {len(adult_cleaned)}")
print(f"Number of lost observations due to deletion of missing values: {len(adult)-len(adult_cleaned)}")

# Display the cleaned DataFrame
adult_cleaned.head()

Lenght of dataframe without missing values: 30162
Number of lost observations due to deletion of missing values: 2399

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

Either the describe() function does not include observations with any missings in any column or the dataset is really robust and the descriptive statistics are not changed by the deletion of missing values.

In [34]:
# see if the describtive statistics changed drastically
print(f"Describtive statistics with missings: \n {summary_adult_with_nas}")

summary_adult_cleaned = adult.describe()
print(f"Describtive statistics without missings: \n {summary_adult_cleaned}")

summary = summary_adult_cleaned

Describtive statistics with missings:
                 age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Describtive statistics without missings:
                 age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [35]:
# delete rows with missings
adult = adult_cleaned
# replace the column names containing "."s
new_column_names = {col: col.replace(".", "_") for col in adult.columns}
adult.rename(columns=new_column_names, inplace=True)

code from https://www.kaggle.com/code/aditimulye/adult-income-dataset-from-scratch adjusted:

In [36]:
from sklearn.preprocessing import LabelEncoder
# Define categorial columns with strings to be transfered to numeric values
categorical = ['workclass','education', 'marital_status', 'occupation', 'relationship',
               'race', 'sex','native_country']

# Set the LabelEncoder
label_encoder = LabelEncoder()
# Create a dictionary to store mappings of labels
label_mappings = {}

# Iterate through each categorical column
for col in categorical:
    # Fit LabelEncoder and transform labels
    label_encoder.fit(adult[col])
    adult[col] = label_encoder.transform(adult[col])
    # Store the mapping of labels in the dictionary
    label_mappings[col] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

In [37]:
label_mappings

{'workclass': {'Federal-gov': 0,
  'Local-gov': 1,
  'Private': 2,
  'Self-emp-inc': 3,
  'Self-emp-not-inc': 4,
  'State-gov': 5,
  'Without-pay': 6},
 'education': {'10th': 0,
  '11th': 1,
  '12th': 2,
  '1st-4th': 3,
  '5th-6th': 4,
  '7th-8th': 5,
  '9th': 6,
  'Assoc-acdm': 7,
  'Assoc-voc': 8,
  'Bachelors': 9,
  'Doctorate': 10,
  'HS-grad': 11,
  'Masters': 12,
  'Preschool': 13,
  'Prof-school': 14,
  'Some-college': 15},
 'marital_status': {'Divorced': 0,
  'Married-AF-spouse': 1,
  'Married-civ-spouse': 2,
  'Married-spouse-absent': 3,
  'Never-married': 4,
  'Separated': 5,
  'Widowed': 6},
 'occupation': {'Adm-clerical': 0,
  'Armed-Forces': 1,
  'Craft-repair': 2,
  'Exec-managerial': 3,
  'Farming-fishing': 4,
  'Handlers-cleaners': 5,
  'Machine-op-inspct': 6,
  'Other-service': 7,
  'Priv-house-serv': 8,
  'Prof-specialty': 9,
  'Protective-serv': 10,
  'Sales': 11,
  'Tech-support': 12,
  'Transport-moving': 13},
 'relationship': {'Husband': 0,
  'Not-in-family': 1,
  'Other-relative': 2,
  'Own-child': 3,
  'Unmarried': 4,
  'Wife': 5},
 'race': {'Amer-Indian-Eskimo': 0,
  'Asian-Pac-Islander': 1,
  'Black': 2,
  'Other': 3,
  'White': 4},
 'sex': {'Female': 0, 'Male': 1},
 'native_country': {'Cambodia': 0,
  'Canada': 1,
  'China': 2,
  'Columbia': 3,
  'Cuba': 4,
  'Dominican-Republic': 5,
  'Ecuador': 6,
  'El-Salvador': 7,
  'England': 8,
  'France': 9,
  'Germany': 10,
  'Greece': 11,
  'Guatemala': 12,
  'Haiti': 13,
  'Holand-Netherlands': 14,
  'Honduras': 15,
  'Hong': 16,
  'Hungary': 17,
  'India': 18,
  'Iran': 19,
  'Ireland': 20,
  'Italy': 21,
  'Jamaica': 22,
  'Japan': 23,
  'Laos': 24,
  'Mexico': 25,
  'Nicaragua': 26,
  'Outlying-US(Guam-USVI-etc)': 27,
  'Peru': 28,
  'Philippines': 29,
  'Poland': 30,
  'Portugal': 31,
  'Puerto-Rico': 32,
  'Scotland': 33,
  'South': 34,
  'Taiwan': 35,
  'Thailand': 36,
  'Trinadad&Tobago': 37,
  'United-States': 38,
  'Vietnam': 39,
  'Yugoslavia': 40}}

In [38]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 1 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  int64
 2   fnlwgt          30162 non-null  int64
 3   education       30162 non-null  int64
 4   education_num   30162 non-null  int64
 5   marital_status  30162 non-null  int64
 6   occupation      30162 non-null  int64
 7   relationship    30162 non-null  int64
 8   race            30162 non-null  int64
 9   sex             30162 non-null  int64
 10  capital_gain    30162 non-null  int64
 11  capital_loss    30162 non-null  int64
 12  hours_per_week  30162 non-null  int64
 13  native_country  30162 non-null  int64
 14  income          30162 non-null  object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB

In [39]:
adult.describe().T

,count,mean,std,min,25%,50%,75%,max
age,30162.0,38.437902,13.134665,17.0,28.00,37.0,47.0,90.0
workclass,30162.0,2.199324,0.953925,0.0,2.00,2.0,2.0,6.0
fnlwgt,30162.0,189793.833930,105652.971529,13769.0,117627.25,178425.0,237628.5,1484705.0
education,30162.0,10.333764,3.812292,0.0,9.00,11.0,12.0,15.0
education_num,30162.0,10.121312,2.549995,1.0,9.00,10.0,13.0,16.0
marital_status,30162.0,2.580134,1.498016,0.0,2.00,2.0,4.0,6.0
occupation,30162.0,5.959850,4.029566,0.0,2.00,6.0,9.0,13.0
relationship,30162.0,1.418341,1.601338,0.0,0.00,1.0,3.0,5.0
race,30162.0,3.678602,0.834709,0.0,4.00,4.0,4.0,4.0
sex,30162.0,0.675685,0.468126,0.0,0.00,1.0,1.0,1.0
capital_gain,30162.0,1092.007858,7406.346497,0.0,0.00,0.0,0.0,99999.0
capital_loss,30162.0,88.372489,404.298370,0.0,0.00,0.0,0.0,4356.0
hours_per_week,30162.0,40.931238,11.979984,1.0,40.00,40.0,45.0,99.0
native_country,30162.0,36.382567,6.105372,0.0,38.00,38.0,38.0,40.0

Since the data already contained a numeric encoding of the education, this column can be dropped as it is equivalent (not exaclty numerically but in the sense that each number represents one level of education and those are the same) to the numerized encodings of the education.

In [40]:
adult = adult.drop('education_num', axis=1)

In [41]:
adult.head()

,age,workclass,fnlwgt,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
1,82,2,132870,11,6,3,1,4,0,0,4356,18,38,<=50K
3,54,2,140359,5,0,6,4,4,0,0,3900,40,38,<=50K
4,41,2,264663,15,5,9,3,4,0,0,3900,40,38,<=50K
5,34,2,216864,11,0,7,4,4,0,0,3770,45,38,<=50K
6,38,2,150601,0,5,0,4,4,1,0,3770,40,38,<=50K

In [42]:
# save the data
adult.to_csv("/Users/emmafoessing/Documents/Master/MA/Code/adult_preprocessed.csv", index = False)

In [43]:
def create_latex_tables(df):
    # Check for categorical variables
    categorical_vars = df.select_dtypes(include=['object', 'category']).columns

    # Loop through each categorical variable
    for var in categorical_vars:
        # Calculate counts and frequencies
        count_series = df[var].value_counts()
        frequency_series = df[var].value_counts(normalize=True)

        # Combine into a DataFrame
        table_df = pd.DataFrame({
            'Category': count_series.index,
            'Count': count_series.values,
            'Frequency': frequency_series.values
        })

        # Convert DataFrame to LaTeX table
        latex_table = tabulate(table_df, headers='keys', tablefmt='latex', showindex=False)
        
        # Add caption to the LaTeX table
        latex_table_with_caption = f"\\begin{{table}}[htbp]\n\\centering\n\\caption{{Table for {var}}}\n{latex_table}\n\\end{{table}}\n"

        # Print the LaTeX table with caption
        print(latex_table_with_caption)
        print("\n")

In [44]:
print(adult.dtypes)

age                int64
workclass          int64
fnlwgt             int64
education          int64
marital_status     int64
occupation         int64
relationship       int64
race               int64
sex                int64
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country     int64
income            object
dtype: object

In [45]:
# Convert specific columns to categorical type
categorical_columns = ['workclass','education', 'marital_status', 'occupation', 'relationship',
                        'race', 'sex','native_country']

for col in categorical_columns:
    adult[col] = adult[col].astype('category')

# Display the types of each column
print(adult.dtypes)

age                  int64
workclass         category
fnlwgt               int64
education         category
marital_status    category
occupation        category
relationship      category
race              category
sex               category
capital_gain         int64
capital_loss         int64
hours_per_week       int64
native_country    category
income              object
dtype: object

In [46]:
create_latex_tables(adult)

\begin{table}[htbp]
\centering
\caption{Table for workclass}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          2 &   22286 &  0.738877   \\
          4 &    2499 &  0.0828526  \\
          1 &    2067 &  0.0685299  \\
          5 &    1279 &  0.0424043  \\
          3 &    1074 &  0.0356077  \\
          0 &     943 &  0.0312645  \\
          6 &      14 &  0.00046416 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for education}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
         11 &    9840 &  0.326238   \\
         15 &    6678 &  0.221404   \\
          9 &    5044 &  0.16723    \\
         12 &    1627 &  0.053942   \\
          8 &    1307 &  0.0433327  \\
          1 &    1048 &  0.0347457  \\
          7 &    1008 &  0.0334195  \\
          0 &     820 &  0.0271865  \\
          5 &     557 &  0.0184669  \\
         14 &     542 &  0.0179696  \\
          6 &     455 &  0.0150852  \\
          2 &     377 &  0.0124992  \\
         10 &     375 &  0.0124329  \\
          4 &     288 &  0.00954844 \\
          3 &     151 &  0.0050063  \\
         13 &      45 &  0.00149194 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for marital_status}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          2 &   14065 &  0.466315   \\
          4 &    9726 &  0.322459   \\
          0 &    4214 &  0.139712   \\
          5 &     939 &  0.0311319  \\
          6 &     827 &  0.0274186  \\
          3 &     370 &  0.0122671  \\
          1 &      21 &  0.00069624 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for occupation}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          9 &    4038 & 0.133877    \\
          2 &    4030 & 0.133612    \\
          3 &    3992 & 0.132352    \\
          0 &    3721 & 0.123367    \\
         11 &    3584 & 0.118825    \\
          7 &    3212 & 0.106492    \\
          6 &    1966 & 0.0651814   \\
         13 &    1572 & 0.0521186   \\
          5 &    1350 & 0.0447583   \\
          4 &     989 & 0.0327896   \\
         12 &     912 & 0.0302367   \\
         10 &     644 & 0.0213514   \\
          8 &     143 & 0.00474106  \\
          1 &       9 & 0.000298389 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for relationship}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          0 &   12463 &   0.413202  \\
          1 &    7726 &   0.25615   \\
          3 &    4466 &   0.148067  \\
          4 &    3212 &   0.106492  \\
          5 &    1406 &   0.0466149 \\
          2 &     889 &   0.0294742 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for race}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          4 &   25933 &  0.85979    \\
          2 &    2817 &  0.0933957  \\
          1 &     895 &  0.0296731  \\
          0 &     286 &  0.00948213 \\
          3 &     231 &  0.00765864 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for sex}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          1 &   20380 &    0.675685 \\
          0 &    9782 &    0.324315 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for native_country}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
         38 &   27504 & 0.911876    \\
         25 &     610 & 0.0202241   \\
         29 &     188 & 0.00623301  \\
         10 &     128 & 0.00424375  \\
         32 &     109 & 0.00361382  \\
          1 &     107 & 0.00354751  \\
          7 &     100 & 0.00331543  \\
         18 &     100 & 0.00331543  \\
          4 &      92 & 0.0030502   \\
          8 &      86 & 0.00285127  \\
         22 &      80 & 0.00265234  \\
         34 &      71 & 0.00235396  \\
          2 &      68 & 0.00225449  \\
         21 &      68 & 0.00225449  \\
          5 &      67 & 0.00222134  \\
         39 &      64 & 0.00212188  \\
         12 &      63 & 0.00208872  \\
         23 &      59 & 0.0019561   \\
         30 &      56 & 0.00185664  \\
          3 &      56 & 0.00185664  \\
         13 &      42 & 0.00139248  \\
         19 &      42 & 0.00139248  \\
         35 &      42 & 0.00139248  \\
         31 &      34 & 0.00112725  \\
         26 &      33 & 0.00109409  \\
         28 &      30 & 0.000994629 \\
         11 &      29 & 0.000961475 \\
          9 &      27 & 0.000895166 \\
          6 &      27 & 0.000895166 \\
         20 &      24 & 0.000795703 \\
         16 &      19 & 0.000629932 \\
         37 &      18 & 0.000596777 \\
          0 &      18 & 0.000596777 \\
         24 &      17 & 0.000563623 \\
         36 &      17 & 0.000563623 \\
         40 &      16 & 0.000530469 \\
         27 &      14 & 0.00046416  \\
         17 &      13 & 0.000431006 \\
         15 &      12 & 0.000397852 \\
         33 &      11 & 0.000364697 \\
         14 &       1 & 3.31543e-05 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for income}
\begin{tabular}{lrr}
\hline
 Category   &   Count &   Frequency \\
\hline
 \ensuremath{<}=50K      &   22654 &    0.751078 \\
 \ensuremath{>}50K       &    7508 &    0.248922 \\
\hline
\end{tabular}
\end{table}

In [47]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

description = adult.drop(columns=categorical_columns).describe()

# Drop the count information
description = description.drop(index='count')
description = description.T
print(description)

latex_table = description.to_latex()

print(latex_table)

                     mean        std       min        25%        50%  \
age                38.438     13.135    17.000     28.000     37.000
fnlwgt         189793.834 105652.972 13769.000 117627.250 178425.000
capital_gain     1092.008   7406.346     0.000      0.000      0.000
capital_loss       88.372    404.298     0.000      0.000      0.000
hours_per_week     40.931     11.980     1.000     40.000     40.000

                      75%         max
age                47.000      90.000
fnlwgt         237628.500 1484705.000
capital_gain        0.000   99999.000
capital_loss        0.000    4356.000
hours_per_week     45.000      99.000
\begin{tabular}{lrrrrrrr}
\toprule
 & mean & std & min & 25% & 50% & 75% & max \\
\midrule
age & 38.437902 & 13.134665 & 17.000000 & 28.000000 & 37.000000 & 47.000000 & 90.000000 \\
fnlwgt & 189793.833930 & 105652.971529 & 13769.000000 & 117627.250000 & 178425.000000 & 237628.500000 & 1484705.000000 \\
capital_gain & 1092.007858 & 7406.346497 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 99999.000000 \\
capital_loss & 88.372489 & 404.298370 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 4356.000000 \\
hours_per_week & 40.931238 & 11.979984 & 1.000000 & 40.000000 & 40.000000 & 45.000000 & 99.000000 \\
\bottomrule
\end{tabular}

# CPS

In [24]:
cps = cps.drop(columns=cps.columns[0], axis=1)

In [25]:
# adult
sum_less50k = sum(adult.income=="<=50K")/len(adult)
sum_more50k = sum(adult.income==">50K")/len(adult)
print(f"portion with less then 50K: {sum_less50k}")
print(f"portion with more then 50K: {sum_more50k}")

portion with less then 50K: 0.7510775147536636
portion with more then 50K: 0.24892248524633645

In [26]:
# cps
print(f"portion with less then 50K: {sum(cps.income <= 50000)/len(cps)}")
print(f"portion with more then 50K: {sum(cps.income > 50000)/len(cps)}")
#--> would have equal proportions as adult for 70K

portion with less then 50K: 0.5920584189659358
portion with more then 50K: 0.40794158103406425

In [27]:
cps.shape

(49436, 9)

In [28]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

description = cps.describe()

# Drop the count information
description = description.drop(index='count')
description = description.T
print(description)

latex_table = description.to_latex()

print(latex_table)

             mean       std    min       25%       50%       75%        max
tax      1025.488  2478.762  0.000     0.000   480.000  1312.250  99997.000
income  54102.673 49205.213  1.000 22000.000 41007.500 70200.000 768742.000
csp       142.693  1141.196  0.000     0.000     0.000     0.000  23917.000
age        48.173    16.830 15.000    35.000    46.000    60.000     90.000
educ       39.873     2.897 31.000    39.000    40.000    43.000     46.000
marital     3.053     2.422  1.000     1.000     1.000     5.000      7.000
race        1.210     0.603  1.000     1.000     1.000     1.000      4.000
sex         1.426     0.495  1.000     1.000     1.000     2.000      2.000
ss       2082.462  4455.406  0.000     0.000     0.000     0.000  50000.000

\begin{tabular}{lrrrrrrr}
\toprule
 & mean & std & min & 25% & 50% & 75% & max \\
\midrule
tax & 1025.488308 & 2478.762177 & 0.000000 & 0.000000 & 480.000000 & 1312.250000 & 99997.000000 \\
income & 54102.672688 & 49205.213231 & 1.000000 & 22000.000000 & 41007.500000 & 70200.000000 & 768742.000000 \\
csp & 142.693361 & 1141.196454 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 23917.000000 \\
age & 48.173376 & 16.829557 & 15.000000 & 35.000000 & 46.000000 & 60.000000 & 90.000000 \\
educ & 39.873311 & 2.897464 & 31.000000 & 39.000000 & 40.000000 & 43.000000 & 46.000000 \\
marital & 3.053058 & 2.421666 & 1.000000 & 1.000000 & 1.000000 & 5.000000 & 7.000000 \\
race & 1.209908 & 0.602963 & 1.000000 & 1.000000 & 1.000000 & 1.000000 & 4.000000 \\
sex & 1.426329 & 0.494548 & 1.000000 & 1.000000 & 1.000000 & 2.000000 & 2.000000 \\
ss & 2082.462214 & 4455.405765 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 50000.000000 \\
\bottomrule
\end{tabular}

In [29]:
sex_desc = pd.Categorical(cps['sex'], ordered=True).describe()
sex_latex = sex_desc.T.to_latex()

race_desc = pd.Categorical(cps['race'], ordered=True).describe()
race_latex = race_desc.T.to_latex()

marital_desc = pd.Categorical(cps['marital'], ordered=True).describe()
marital_latex = marital_desc.T.to_latex()

educ_desc = pd.Categorical(cps['educ'], ordered=True).describe()
educ_latex = educ_desc.T.to_latex()

print(sex_latex)
print(race_latex)
print(marital_latex)
print(educ_latex)

\begin{tabular}{lrr}
\toprule
categories & 1 & 2 \\
\midrule
counts & 28360.000000 & 21076.000000 \\
freqs & 0.573671 & 0.426329 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
categories & 1 & 2 & 3 & 4 \\
\midrule
counts & 42504.000000 & 4929.000000 & 561.000000 & 1442.000000 \\
freqs & 0.859778 & 0.099705 & 0.011348 & 0.029169 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrr}
\toprule
categories & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\
\midrule
counts & 27065.000000 & 117.000000 & 711.000000 & 4733.000000 & 6850.000000 & 1403.000000 & 8557.000000 \\
freqs & 0.547476 & 0.002367 & 0.014382 & 0.095740 & 0.138563 & 0.028380 & 0.173092 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrrrrrrr}
\toprule
categories & 31 & 32 & 33 & 34 & 35 & 36 & 37 & 38 & 39 & 40 & 41 & 42 & 43 & 44 & 45 & 46 \\
\midrule
counts & 170.000000 & 535.000000 & 1000.000000 & 1752.000000 & 1123.000000 & 1436.000000 & 1539.000000 & 577.000000 & 15638.000000 & 9230.000000 & 2082.000000 & 1739.000000 & 8238.000000 & 2966.000000 & 777.000000 & 634.000000 \\
freqs & 0.003439 & 0.010822 & 0.020228 & 0.035440 & 0.022716 & 0.029048 & 0.031131 & 0.011672 & 0.316328 & 0.186706 & 0.042115 & 0.035177 & 0.166640 & 0.059997 & 0.015717 & 0.012825 \\
\bottomrule
\end{tabular}

In [32]:
cps.dtypes

tax        int64
income     int64
csp        int64
age        int64
educ       int64
marital    int64
race       int64
sex        int64
ss         int64
dtype: object

In [33]:
# same as for the adult data

categorical_columns = ["educ", "marital", "race", "sex"]

for col in categorical_columns:
    cps[col] = cps[col].astype('category')

create_latex_tables(cps)

\begin{table}[htbp]
\centering
\caption{Table for educ}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
         39 &   15638 &  0.316328   \\
         40 &    9230 &  0.186706   \\
         43 &    8238 &  0.16664    \\
         44 &    2966 &  0.0599968  \\
         41 &    2082 &  0.0421151  \\
         34 &    1752 &  0.0354398  \\
         42 &    1739 &  0.0351768  \\
         37 &    1539 &  0.0311312  \\
         36 &    1436 &  0.0290477  \\
         35 &    1123 &  0.0227162  \\
         33 &    1000 &  0.0202282  \\
         45 &     777 &  0.0157173  \\
         46 &     634 &  0.0128247  \\
         38 &     577 &  0.0116717  \\
         32 &     535 &  0.0108221  \\
         31 &     170 &  0.00343879 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for marital}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          1 &   27065 &   0.547476  \\
          7 &    8557 &   0.173092  \\
          5 &    6850 &   0.138563  \\
          4 &    4733 &   0.0957399 \\
          6 &    1403 &   0.0283801 \\
          3 &     711 &   0.0143822 \\
          2 &     117 &   0.0023667 \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for race}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          1 &   42504 &   0.859778  \\
          2 &    4929 &   0.0997047 \\
          4 &    1442 &   0.029169  \\
          3 &     561 &   0.011348  \\
\hline
\end{tabular}
\end{table}



\begin{table}[htbp]
\centering
\caption{Table for sex}
\begin{tabular}{rrr}
\hline
   Category &   Count &   Frequency \\
\hline
          1 &   28360 &    0.573671 \\
          2 &   21076 &    0.426329 \\
\hline
\end{tabular}
\end{table}

In [28]:
print(cps['sex'].value_counts(normalize=True))
print(cps['race'].value_counts(normalize=True))
print(cps['marital'].value_counts(normalize=True))
print(cps['educ'].value_counts(normalize=True))

sex
1   0.574
2   0.426
Name: proportion, dtype: float64
race
1   0.860
2   0.100
4   0.029
3   0.011
Name: proportion, dtype: float64
marital
1   0.547
7   0.173
5   0.139
4   0.096
6   0.028
3   0.014
2   0.002
Name: proportion, dtype: float64
educ
39   0.316
40   0.187
43   0.167
44   0.060
41   0.042
34   0.035
42   0.035
37   0.031
36   0.029
35   0.023
33   0.020
45   0.016
46   0.013
38   0.012
32   0.011
31   0.003
Name: proportion, dtype: float64

In [16]:
pip install Jinja2

Defaulting to user installation because normal site-packages is not writeable
Collecting Jinja2
  Downloading Jinja2-3.1.3-py3-none-any.whl.metadata (3.3 kB)
Collecting MarkupSafe>=2.0 (from Jinja2)
  Downloading MarkupSafe-2.1.5-cp38-cp38-macosx_10_9_x86_64.whl.metadata (3.0 kB)
Downloading Jinja2-3.1.3-py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.2/133.2 kB 4.4 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp38-cp38-macosx_10_9_x86_64.whl (14 kB)
Installing collected packages: MarkupSafe, Jinja2
Successfully installed Jinja2-3.1.3 MarkupSafe-2.1.5

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.