In [ ]:
#pip install pandas
#pip install numpy
#pip install scikit-learn
#pip install matplotlib
#pip install Jinja2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (4.50.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.20 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/emmafoessing/Library/Python/3.8/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.18.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [17]:
# imports
import pandas as pd
import numpy as np
import Jinja2

ModuleNotFoundError: No module named 'Jinja2'

In [3]:
# data
adult = pd.read_csv("/Users/emmafoessing/Documents/Master/MA/Code/Master-Thesis/adult.csv")
cps = pd.read_csv("/Users/emmafoessing/Documents/Master/MA/Code/Master-Thesis/cpspop.csv")

# Adult

In [99]:
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [100]:
# describtive statistics
summary_adult = adult.describe()

# Display the summary
print(summary_adult)

                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [101]:
len(adult)

32561

In [102]:
adult.replace("?", pd.NA, inplace=True)
missing_values = adult.isnull().any().any()
missing_columns = adult.isnull().any()
missing_count = adult.isnull().sum()

print(f"missing_values: {missing_values}")
print(f"missing_columns: \n {missing_columns}")
print(f"missing_count: \n {missing_count}")

missing_values: True
missing_columns:
 age               False
workclass          True
fnlwgt            False
education         False
education.num     False
marital.status    False
occupation         True
relationship      False
race              False
sex               False
capital.gain      False
capital.loss      False
hours.per.week    False
native.country     True
income            False
dtype: bool
missing_count:
 age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

The "?"s did not have an effect on the describtive statistics. These do not include missing values anyways.

In [103]:
# describtive statistics
summary_adult_with_nas = adult.describe()

# Display the summary
print(summary_adult_with_nas)
print(summary_adult)
summary_adult_with_nas == summary_adult

                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
count  True    True           True          True          True            True
mean   True    True           True          True          True            True
std    True    True           True          True          True            True
min    True    True           True          True          True            True
25%    True    True           True          True          True            True
50%    True    True           True          True          True            True
75%    True    True           True          True          True            True
max    True    True           True          True          True            True

In [104]:
# delete missings
adult_cleaned = adult.dropna()

# Number of observations and loss of observations due to deletion of missings
print(f"Lenght of dataframe without missing values: {len(adult_cleaned)}")
print(f"Number of lost observations due to deletion of missing values: {len(adult)-len(adult_cleaned)}")

# Display the cleaned DataFrame
adult_cleaned.head()

Lenght of dataframe without missing values: 30162
Number of lost observations due to deletion of missing values: 2399

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

Either the describe() function does not include observations with any missings in any column or the dataset is really robust and the descriptive statistics are not changed by the deletion of missing values.

In [105]:
# see if the describtive statistics changed drastically
print(f"Describtive statistics with missings: \n {summary}")

summary_adult_cleaned = adult.describe()
print(f"Describtive statistics without missings: \n {summary_adult_cleaned}")

summary == summary_adult_cleaned

Describtive statistics with missings:
                 age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Describtive statistics without missings:
                 age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
count  True    True           True          True          True            True
mean   True    True           True          True          True            True
std    True    True           True          True          True            True
min    True    True           True          True          True            True
25%    True    True           True          True          True            True
50%    True    True           True          True          True            True
75%    True    True           True          True          True            True
max    True    True           True          True          True            True

In [106]:
# delete rows with missings
adult = adult_cleaned
# replace the column names containing "."s
new_column_names = {col: col.replace(".", "_") for col in adult.columns}
adult.rename(columns=new_column_names, inplace=True)

code from https://www.kaggle.com/code/aditimulye/adult-income-dataset-from-scratch adjusted:

In [107]:
from sklearn.preprocessing import LabelEncoder
# Define categorial columns with strings to be transfered to numeric values
categorical = ['workclass','education', 'marital_status', 'occupation', 'relationship',
               'race', 'sex','native_country']

# Set the LabelEncoder
label_encoder = LabelEncoder()
# Create a dictionary to store mappings of labels
label_mappings = {}

# Iterate through each categorical column
for col in categorical:
    # Fit LabelEncoder and transform labels
    label_encoder.fit(adult[col])
    adult[col] = label_encoder.transform(adult[col])
    # Store the mapping of labels in the dictionary
    label_mappings[col] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

In [108]:
label_mappings

{'workclass': {'Federal-gov': 0,
  'Local-gov': 1,
  'Private': 2,
  'Self-emp-inc': 3,
  'Self-emp-not-inc': 4,
  'State-gov': 5,
  'Without-pay': 6},
 'education': {'10th': 0,
  '11th': 1,
  '12th': 2,
  '1st-4th': 3,
  '5th-6th': 4,
  '7th-8th': 5,
  '9th': 6,
  'Assoc-acdm': 7,
  'Assoc-voc': 8,
  'Bachelors': 9,
  'Doctorate': 10,
  'HS-grad': 11,
  'Masters': 12,
  'Preschool': 13,
  'Prof-school': 14,
  'Some-college': 15},
 'marital_status': {'Divorced': 0,
  'Married-AF-spouse': 1,
  'Married-civ-spouse': 2,
  'Married-spouse-absent': 3,
  'Never-married': 4,
  'Separated': 5,
  'Widowed': 6},
 'occupation': {'Adm-clerical': 0,
  'Armed-Forces': 1,
  'Craft-repair': 2,
  'Exec-managerial': 3,
  'Farming-fishing': 4,
  'Handlers-cleaners': 5,
  'Machine-op-inspct': 6,
  'Other-service': 7,
  'Priv-house-serv': 8,
  'Prof-specialty': 9,
  'Protective-serv': 10,
  'Sales': 11,
  'Tech-support': 12,
  'Transport-moving': 13},
 'relationship': {'Husband': 0,
  'Not-in-family': 1,
  'Other-relative': 2,
  'Own-child': 3,
  'Unmarried': 4,
  'Wife': 5},
 'race': {'Amer-Indian-Eskimo': 0,
  'Asian-Pac-Islander': 1,
  'Black': 2,
  'Other': 3,
  'White': 4},
 'sex': {'Female': 0, 'Male': 1},
 'native_country': {'Cambodia': 0,
  'Canada': 1,
  'China': 2,
  'Columbia': 3,
  'Cuba': 4,
  'Dominican-Republic': 5,
  'Ecuador': 6,
  'El-Salvador': 7,
  'England': 8,
  'France': 9,
  'Germany': 10,
  'Greece': 11,
  'Guatemala': 12,
  'Haiti': 13,
  'Holand-Netherlands': 14,
  'Honduras': 15,
  'Hong': 16,
  'Hungary': 17,
  'India': 18,
  'Iran': 19,
  'Ireland': 20,
  'Italy': 21,
  'Jamaica': 22,
  'Japan': 23,
  'Laos': 24,
  'Mexico': 25,
  'Nicaragua': 26,
  'Outlying-US(Guam-USVI-etc)': 27,
  'Peru': 28,
  'Philippines': 29,
  'Poland': 30,
  'Portugal': 31,
  'Puerto-Rico': 32,
  'Scotland': 33,
  'South': 34,
  'Taiwan': 35,
  'Thailand': 36,
  'Trinadad&Tobago': 37,
  'United-States': 38,
  'Vietnam': 39,
  'Yugoslavia': 40}}

In [109]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 1 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  int64
 2   fnlwgt          30162 non-null  int64
 3   education       30162 non-null  int64
 4   education_num   30162 non-null  int64
 5   marital_status  30162 non-null  int64
 6   occupation      30162 non-null  int64
 7   relationship    30162 non-null  int64
 8   race            30162 non-null  int64
 9   sex             30162 non-null  int64
 10  capital_gain    30162 non-null  int64
 11  capital_loss    30162 non-null  int64
 12  hours_per_week  30162 non-null  int64
 13  native_country  30162 non-null  int64
 14  income          30162 non-null  object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB

In [110]:
adult.describe().T

,count,mean,std,min,25%,50%,75%,max
age,30162.0,38.437902,13.134665,17.0,28.00,37.0,47.0,90.0
workclass,30162.0,2.199324,0.953925,0.0,2.00,2.0,2.0,6.0
fnlwgt,30162.0,189793.833930,105652.971529,13769.0,117627.25,178425.0,237628.5,1484705.0
education,30162.0,10.333764,3.812292,0.0,9.00,11.0,12.0,15.0
education_num,30162.0,10.121312,2.549995,1.0,9.00,10.0,13.0,16.0
marital_status,30162.0,2.580134,1.498016,0.0,2.00,2.0,4.0,6.0
occupation,30162.0,5.959850,4.029566,0.0,2.00,6.0,9.0,13.0
relationship,30162.0,1.418341,1.601338,0.0,0.00,1.0,3.0,5.0
race,30162.0,3.678602,0.834709,0.0,4.00,4.0,4.0,4.0
sex,30162.0,0.675685,0.468126,0.0,0.00,1.0,1.0,1.0
capital_gain,30162.0,1092.007858,7406.346497,0.0,0.00,0.0,0.0,99999.0
capital_loss,30162.0,88.372489,404.298370,0.0,0.00,0.0,0.0,4356.0
hours_per_week,30162.0,40.931238,11.979984,1.0,40.00,40.0,45.0,99.0
native_country,30162.0,36.382567,6.105372,0.0,38.00,38.0,38.0,40.0

Since the data already contained a numeric encoding of the education, this column can be dropped as it is equivalent (not exaclty numerically but in the sense that each number represents one level of education and those are the same) to the numerized encodings of the education.

In [114]:
adult = adult.drop('education_num', axis=1)

In [115]:
adult.head()

,age,workclass,fnlwgt,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
1,82,2,132870,11,6,3,1,4,0,0,4356,18,38,<=50K
3,54,2,140359,5,0,6,4,4,0,0,3900,40,38,<=50K
4,41,2,264663,15,5,9,3,4,0,0,3900,40,38,<=50K
5,34,2,216864,11,0,7,4,4,0,0,3770,45,38,<=50K
6,38,2,150601,0,5,0,4,4,1,0,3770,40,38,<=50K

In [116]:
# save the data
adult.to_csv("/Users/emmafoessing/Documents/Master/MA/Code/adult_preprocessed.csv", index = False)

# CPS

In [12]:
cps = cps.drop(columns=cps.columns[0], axis=1)

In [17]:
# adult
sum_less50k = sum(adult.income=="<=50K")/len(adult)
sum_more50k = sum(adult.income==">50K")/len(adult)
print(f"portion with less then 50K: {sum_less50k}")
print(f"portion with more then 50K: {sum_more50k}")

portion with less then 50K: 0.7591904425539756
portion with more then 50K: 0.2408095574460244

In [20]:
# cps
print(f"portion with less then 50K: {sum(cps.income <= 50000)/len(cps)}")
print(f"portion with more then 50K: {sum(cps.income > 50000)/len(cps)}")
#--> would have equal proportions as adult for 70K

portion with less then 50K: 0.5920584189659358
portion with more then 50K: 0.40794158103406425

In [13]:
cps.shape

(49436, 9)

In [24]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

description = cps.describe()

# Drop the count information
description = description.drop(index='count')
description = description.T
print(description)

latex_table = description.to_latex()

print(latex_table)

             mean       std    min       25%       50%       75%        max
tax      1025.488  2478.762  0.000     0.000   480.000  1312.250  99997.000
income  54102.673 49205.213  1.000 22000.000 41007.500 70200.000 768742.000
csp       142.693  1141.196  0.000     0.000     0.000     0.000  23917.000
age        48.173    16.830 15.000    35.000    46.000    60.000     90.000
educ       39.873     2.897 31.000    39.000    40.000    43.000     46.000
marital     3.053     2.422  1.000     1.000     1.000     5.000      7.000
race        1.210     0.603  1.000     1.000     1.000     1.000      4.000
sex         1.426     0.495  1.000     1.000     1.000     2.000      2.000
ss       2082.462  4455.406  0.000     0.000     0.000     0.000  50000.000
\begin{tabular}{lrrrrrrr}
\toprule
 & mean & std & min & 25% & 50% & 75% & max \\
\midrule
tax & 1025.488308 & 2478.762177 & 0.000000 & 0.000000 & 480.000000 & 1312.250000 & 99997.000000 \\
income & 54102.672688 & 49205.213231 & 1.000000 & 22000.000000 & 41007.500000 & 70200.000000 & 768742.000000 \\
csp & 142.693361 & 1141.196454 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 23917.000000 \\
age & 48.173376 & 16.829557 & 15.000000 & 35.000000 & 46.000000 & 60.000000 & 90.000000 \\
educ & 39.873311 & 2.897464 & 31.000000 & 39.000000 & 40.000000 & 43.000000 & 46.000000 \\
marital & 3.053058 & 2.421666 & 1.000000 & 1.000000 & 1.000000 & 5.000000 & 7.000000 \\
race & 1.209908 & 0.602963 & 1.000000 & 1.000000 & 1.000000 & 1.000000 & 4.000000 \\
sex & 1.426329 & 0.494548 & 1.000000 & 1.000000 & 1.000000 & 2.000000 & 2.000000 \\
ss & 2082.462214 & 4455.405765 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 50000.000000 \\
\bottomrule
\end{tabular}

In [33]:
sex_desc = pd.Categorical(cps['sex'], ordered=True).describe()
sex_latex = sex_desc.T.to_latex()

race_desc = pd.Categorical(cps['race'], ordered=True).describe()
race_latex = race_desc.T.to_latex()

marital_desc = pd.Categorical(cps['marital'], ordered=True).describe()
marital_latex = marital_desc.T.to_latex()

educ_desc = pd.Categorical(cps['educ'], ordered=True).describe()
educ_latex = educ_desc.T.to_latex()

print(sex_latex)
print(race_latex)
print(marital_latex)
print(educ_latex)

\begin{tabular}{lrr}
\toprule
categories & 1 & 2 \\
\midrule
counts & 28360.000000 & 21076.000000 \\
freqs & 0.573671 & 0.426329 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
categories & 1 & 2 & 3 & 4 \\
\midrule
counts & 42504.000000 & 4929.000000 & 561.000000 & 1442.000000 \\
freqs & 0.859778 & 0.099705 & 0.011348 & 0.029169 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrr}
\toprule
categories & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\
\midrule
counts & 27065.000000 & 117.000000 & 711.000000 & 4733.000000 & 6850.000000 & 1403.000000 & 8557.000000 \\
freqs & 0.547476 & 0.002367 & 0.014382 & 0.095740 & 0.138563 & 0.028380 & 0.173092 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrrrrrrrrr}
\toprule
categories & 31 & 32 & 33 & 34 & 35 & 36 & 37 & 38 & 39 & 40 & 41 & 42 & 43 & 44 & 45 & 46 \\
\midrule
counts & 170.000000 & 535.000000 & 1000.000000 & 1752.000000 & 1123.000000 & 1436.000000 & 1539.000000 & 577.000000 & 15638.000000 & 9230.000000 & 2082.000000 & 1739.000000 & 8238.000000 & 2966.000000 & 777.000000 & 634.000000 \\
freqs & 0.003439 & 0.010822 & 0.020228 & 0.035440 & 0.022716 & 0.029048 & 0.031131 & 0.011672 & 0.316328 & 0.186706 & 0.042115 & 0.035177 & 0.166640 & 0.059997 & 0.015717 & 0.012825 \\
\bottomrule
\end{tabular}

In [28]:
print(cps['sex'].value_counts(normalize=True))
print(cps['race'].value_counts(normalize=True))
print(cps['marital'].value_counts(normalize=True))
print(cps['educ'].value_counts(normalize=True))

sex
1   0.574
2   0.426
Name: proportion, dtype: float64
race
1   0.860
2   0.100
4   0.029
3   0.011
Name: proportion, dtype: float64
marital
1   0.547
7   0.173
5   0.139
4   0.096
6   0.028
3   0.014
2   0.002
Name: proportion, dtype: float64
educ
39   0.316
40   0.187
43   0.167
44   0.060
41   0.042
34   0.035
42   0.035
37   0.031
36   0.029
35   0.023
33   0.020
45   0.016
46   0.013
38   0.012
32   0.011
31   0.003
Name: proportion, dtype: float64

In [16]:
pip install Jinja2

Defaulting to user installation because normal site-packages is not writeable
Collecting Jinja2
  Downloading Jinja2-3.1.3-py3-none-any.whl.metadata (3.3 kB)
Collecting MarkupSafe>=2.0 (from Jinja2)
  Downloading MarkupSafe-2.1.5-cp38-cp38-macosx_10_9_x86_64.whl.metadata (3.0 kB)
Downloading Jinja2-3.1.3-py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.2/133.2 kB 4.4 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp38-cp38-macosx_10_9_x86_64.whl (14 kB)
Installing collected packages: MarkupSafe, Jinja2
Successfully installed Jinja2-3.1.3 MarkupSafe-2.1.5

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.